body {
  background-color: black;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.day   { background: #eee; color: black; }
.night { background: #333; color: white; }

@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}

.day, .night {
  display: inline-block;
  padding: 1em;
  width: 7em;
  height: 2em;
  vertical-align: middle;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
table.night{
  border: 1px solid #333;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #444
}
tr.light:nth-child(even) {
  background-color: #f2f2f2
}

.highlight {
  background-color: #4e74;
}
.highlight.night {
  background-color: #333;
}
tr.highlight:nth-child(even) {
  background-color: #4fc4
}
tr.night.highlight:nth-child(even) {
  background-color: #444
}
tr.Maritime-mobile{
    background-color: #44e7
}
tr.Maritime-mobile:nth-child(even) {
  background-color: #44fc
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  body {
    font-size: 1.2em;
  }

  .day, .night {
    width: 100%;
    height: auto;
  }

  table {
    font-size: 0.9em;
  }

  th, td {
    padding: 8px;
  }
}

/* Use relative units for widths and heights */
.day, .night {
  width: 50%;
  height: auto;
}

table {
  width: 100%;
}

th, td {
  padding: 1em;
}
