<!doctype html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} - taajuusjako-lookup</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
  <footer>
    <div id="footer">
      {% block footer %}
      Source for <a href="https://github.com/amahlaka/taajuusjako-lookup">taajuusjako-lookup</a> available on GitHub.
      &copy; Copyright 2022 by <a href="https://github.com/amahlaka">Arttu M.</a>.
      {% endblock %}
    </div>
  </footer>
</html>
